# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
env/
ENV/
.venv

# Database
*.db
*.sqlite
*.sqlite3

# Downloads
downloads/

# Environment variables
.env
.qwen

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db